*{
    margin : 0%;
    padding : 0%;
    background-color: #AFC1D0;
}

.navbar{
    display: flex;
    justify-content: center;
    gap: 20px;
}

li{
    list-style: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5%;
}

.underline{
    text-decoration: none;
    color: #1C3F60;
    position: relative;
    cursor: pointer;

}

.underline:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #1C3F60;
    transition: width 0.4s ease-in-out;

}

.underline:hover:after {
    width: 100%;
}

.home{
    margin: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home h1{ 
    color: #0B1320;
    padding-top: 11%;
    padding-left: 4%;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

.home u{
    text-decoration: underline;
    text-decoration-color: #1C3F60;
    text-decoration-thickness: 2px;
}

.title{
    text-decoration: underline;
    text-decoration-color: #1C3F60;
    text-decoration-thickness: 2px;
    color: #0B1320;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
    text-align: center;
}


.about{ 
    color: #0B1320;
    display: block;
    margin: 1% 15%;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    border-radius: 4%;
}

.column{
    display: flex;
    float: left;
    margin: 1% 5%;
    justify-content: center;
}

.column-style{
    display: block;
    margin-bottom: 0.5%;
    margin-left: 5%;
    background-color: #1C3F60;
    border-radius: 4%;
    width: 25%;
    text-align: center;
    padding-bottom: 2%;
    text-decoration: none;
    color: #AFC1D0;
    font-size: 30px;
    box-shadow: 0 0 15px black;
}

.column-style:hover{
    margin-left: 3%;
    margin-right: 1.7%;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

footer{
    text-decoration: underline;
    text-decoration-color: #1C3F60;
    text-decoration-thickness: 2px;
    color: #0B1320;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 426px){
    .navbar{
        display: block;
        
    }
    .home{
        margin-left: 10%;
        margin-top: 25%;
        display: block;
        justify-content: center;
        align-items: center;
        
    }
    .home h1{
        padding: 0%;
        font-size: 35px;
        margin-left: 18%;
        
    }
    img{
        width: 100%;    
    }
}
