*{
    margin: 0;
    padding: 0;
    background-color: #171717;
}

a{
    text-decoration: none;
    color: #CED9BF;
}
a:hover{
    color: #88b1ca;
}

.navbar{
    display: flex;
    float: right;
    margin: 1%;
    list-style: none;  
}

.navbar a{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.intro{
    padding-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    
}

.hero_img{
    width: 35%;
    border-radius: 50%;
}

.intro p{
    padding-left: 3%;
    font-family: Arial, Helvetica, sans-serif;
    color: #CED9BF;
    font-size: 45px;
    font-weight: bold;
}

.bio{
    color: #CED9BF;
    font-family:monospace;
    font-size: 20px;
    display: block;
    justify-content: center;
    margin: 2% 20%;
}

.bio p{
    margin-top: 3%;
}

.underline{
    text-decoration: underline;
    font-family: monospace;
    font-size: 15px;
}

footer{
    color: #CED9BF;
    font-family: monospace;
    font-size: 15px;
    margin-left: 20%;
    margin-bottom: 3%;
}

.heading{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #CED9BF;
    margin: 3% 20%;
}

.list{
    position: absolute;
    top: 17%;
    width: 100%;
}

.list li{
    margin-bottom: 2%;
}

.list a{
    color: #88b1ca;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 22%;
    text-decoration: underline;
    text-decoration-thickness: 1px;
   
}

.list p{
    color: #CED9BF;
    font-size: 20px;
    font-family: monospace;
    margin-left: 22%;
    margin-top: 1%;
    width: 50%;
}

.blog{
    position: absolute;
    top: 17%;
    width: 100%;
}
.blog p{
    position: absolute;
    margin-left: 22%;
    color: #CED9BF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.blog li{
    margin-bottom: 2%;
}
.blog a{
    color: #88b1ca;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    margin-left: 33%;
    text-decoration-thickness: 1px;
}

.division{
    color: #CED9BF;
    border-bottom: 0.5px solid;
    width: 50%;
    margin-left: 22%;
    margin-top: 1%;
}



@media screen and (max-width: 450px){
  
    .navbar{
        margin: 5%;
    }
    .intro{
        display: block;
        margin-left: 17%;
    }
    .hero_img{
        width: 75%;
    }
    .intro p{
        font-size: 25px;
        padding-left: 0%;
    }
    .bio{
        font-size: 15px;
        margin: 3% 4%;
    }
    .bio p{
        margin-top: 6%;
    }
    .heading{
        margin: 26% 10%;
    }
    .list{
        top: 23%;
    }
    .list li{
        margin-bottom: 3.5%;
    }
    .list a{
        margin-left: 11%;
    }
    .list p{
        font-size: 15px;
        margin-left: 11%;
        width: 85%;
    }
    .blog p{
        margin-left: 11%;
        font-size: 15px;
        position: absolute;
    }
    .blog a{
        margin-left: 45%;
        font-size: 15px;
    }
    .division{
        margin-left: 12%;
        width: 80%;
    }
}
